h1 {
  color: darkred;
}

h2 {
  font-style: italic;
  color: red;
}

.important {
  color: red;
}

p.intro {
  width: 50%;
  font-style: italic;
}

p {
  color: crimson;
}

body {
  background-color: salmon;
  font-family: sans-serif;
  text-align: center;
}